--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.address (
    member_user_id integer NOT NULL,
    house_number character varying(20),
    street character varying(100) NOT NULL,
    town character varying(100)
);


ALTER TABLE public.address OWNER TO postgres;

--
-- Name: appointment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.appointment (
    appointment_id integer NOT NULL,
    caregiver_user_id integer NOT NULL,
    member_user_id integer NOT NULL,
    appointment_date date NOT NULL,
    appointment_time time without time zone NOT NULL,
    work_hours integer NOT NULL,
    status character varying(20) NOT NULL,
    CONSTRAINT appointment_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Accepted'::character varying, 'Declined'::character varying])::text[]))),
    CONSTRAINT appointment_work_hours_check CHECK ((work_hours > 0))
);


ALTER TABLE public.appointment OWNER TO postgres;

--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.appointment_appointment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointment_appointment_id_seq OWNER TO postgres;

--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.appointment_appointment_id_seq OWNED BY public.appointment.appointment_id;


--
-- Name: caregiver; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caregiver (
    caregiver_user_id integer NOT NULL,
    photo text,
    gender character varying(20) NOT NULL,
    caregiving_type character varying(30) NOT NULL,
    hourly_rate numeric(6,2) NOT NULL,
    CONSTRAINT caregiver_caregiving_type_check CHECK (((caregiving_type)::text = ANY ((ARRAY['Babysitter'::character varying, 'Elderly Care'::character varying, 'Playmate'::character varying])::text[]))),
    CONSTRAINT caregiver_gender_check CHECK (((gender)::text = ANY ((ARRAY['Male'::character varying, 'Female'::character varying, 'Other'::character varying])::text[]))),
    CONSTRAINT caregiver_hourly_rate_check CHECK ((hourly_rate > (0)::numeric))
);


ALTER TABLE public.caregiver OWNER TO postgres;

--
-- Name: job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job (
    job_id integer NOT NULL,
    member_user_id integer NOT NULL,
    required_caregiving_type character varying(30) NOT NULL,
    other_requirements text,
    date_posted date DEFAULT CURRENT_DATE NOT NULL,
    CONSTRAINT job_required_caregiving_type_check CHECK (((required_caregiving_type)::text = ANY ((ARRAY['Babysitter'::character varying, 'Elderly Care'::character varying, 'Playmate'::character varying])::text[])))
);


ALTER TABLE public.job OWNER TO postgres;

--
-- Name: job_application; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_application (
    caregiver_user_id integer NOT NULL,
    job_id integer NOT NULL,
    date_applied date DEFAULT CURRENT_DATE NOT NULL
);


ALTER TABLE public.job_application OWNER TO postgres;

--
-- Name: member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member (
    member_user_id integer NOT NULL,
    house_rules text,
    dependent_description text
);


ALTER TABLE public.member OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    user_id integer NOT NULL,
    email character varying(255) NOT NULL,
    given_name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    phone_number character varying(30),
    profile_description text,
    password character varying(255) NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: job_applications_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.job_applications_view AS
 SELECT j.job_id,
    j.required_caregiving_type,
    (((mu.given_name)::text || ' '::text) || (mu.surname)::text) AS member_name,
    (((cu.given_name)::text || ' '::text) || (cu.surname)::text) AS caregiver_name,
    c.caregiving_type AS caregiver_type,
    ja.date_applied
   FROM (((((public.job_application ja
     JOIN public.job j ON ((ja.job_id = j.job_id)))
     JOIN public.caregiver c ON ((ja.caregiver_user_id = c.caregiver_user_id)))
     JOIN public.member m ON ((j.member_user_id = m.member_user_id)))
     JOIN public."user" cu ON ((cu.user_id = c.caregiver_user_id)))
     JOIN public."user" mu ON ((mu.user_id = m.member_user_id)));


ALTER VIEW public.job_applications_view OWNER TO postgres;

--
-- Name: job_job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_job_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_job_id_seq OWNER TO postgres;

--
-- Name: job_job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_job_id_seq OWNED BY public.job.job_id;


--
-- Name: user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_user_id_seq OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_user_id_seq OWNED BY public."user".user_id;


--
-- Name: appointment appointment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment ALTER COLUMN appointment_id SET DEFAULT nextval('public.appointment_appointment_id_seq'::regclass);


--
-- Name: job job_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job ALTER COLUMN job_id SET DEFAULT nextval('public.job_job_id_seq'::regclass);


--
-- Name: user user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN user_id SET DEFAULT nextval('public.user_user_id_seq'::regclass);


--
-- Data for Name: address; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.address (member_user_id, house_number, street, town) FROM stdin;
11	10	Tauelsizdik	Astana
14	5	Abay	Almaty
15	17	Satpayev	Almaty
16	9	Baitursynov	Shymkent
17	44	Saryarka	Astana
18	7	Bukhar Zhyrau	Karaganda
19	88	Turan	Astana
20	3	Al-Farabi	Almaty
\.


--
-- Data for Name: appointment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.appointment (appointment_id, caregiver_user_id, member_user_id, appointment_date, appointment_time, work_hours, status) FROM stdin;
3	6	20	2025-10-22	12:00:00	2	Accepted
4	8	15	2025-10-23	14:00:00	5	Pending
5	10	17	2025-10-24	11:00:00	3	Accepted
8	9	19	2025-10-20	08:00:00	4	Accepted
9	3	16	2025-10-21	16:00:00	3	Accepted
\.


--
-- Data for Name: caregiver; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.caregiver (caregiver_user_id, photo, gender, caregiving_type, hourly_rate) FROM stdin;
1	photo1.jpg	Male	Babysitter	8.80
3	photo3.jpg	Male	Playmate	9.30
5	photo5.jpg	Male	Elderly Care	16.50
6	photo6.jpg	Female	Babysitter	11.00
7	photo7.jpg	Male	Playmate	12.10
8	photo8.jpg	Female	Babysitter	6.80
9	photo9.jpg	Male	Elderly Care	9.80
10	photo10.jpg	Female	Elderly Care	14.30
\.


--
-- Data for Name: job; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job (job_id, member_user_id, required_caregiving_type, other_requirements, date_posted) FROM stdin;
4	14	Babysitter	evening shifts only.	2025-10-10
5	15	Playmate	creative, loves drawing.	2025-10-11
6	16	Elderly Care	No pets. must know basic medicine.	2025-10-12
7	17	Babysitter	weekends only.	2025-10-15
8	18	Babysitter	No smoking.	2025-10-16
9	19	Elderly Care	No pets. soft-spoken.	2025-10-18
10	20	Babysitter	likes outdoor activities.	2025-10-20
12	14	Playmate	English speaking preferred.	2025-10-25
\.


--
-- Data for Name: job_application; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_application (caregiver_user_id, job_id, date_applied) FROM stdin;
6	4	2025-10-11
10	7	2025-10-16
1	8	2025-10-17
6	10	2025-10-21
3	5	2025-10-12
7	12	2025-10-26
\.


--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member (member_user_id, house_rules, dependent_description) FROM stdin;
11	No pets. Please be quiet after 9pm.	My grandmother needs elderly care.
14	No loud music.	I have a 4-year-old son.
15	Be soft-spoken with kids.	Two children (6 and 8).
16	No pets. Hygiene is important.	Elderly aunt, 70 years old.
17	No pets. No visitors.	Grandpa after surgery.
18	No smoking.	3-year-old toddler.
19	No pets. Keep kitchen clean.	Elderly mother.
20	No loud music.	Child who likes painting.
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: appointment_appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.appointment_appointment_id_seq', 11, true);


--
-- Name: job_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.job_job_id_seq', 12, true);


--
-- Name: user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_user_id_seq', 21, true);


--
-- Name: address address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.address
    ADD CONSTRAINT address_pkey PRIMARY KEY (member_user_id);


--
-- Name: appointment appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_pkey PRIMARY KEY (appointment_id);


--
-- Name: caregiver caregiver_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caregiver
    ADD CONSTRAINT caregiver_pkey PRIMARY KEY (caregiver_user_id);


--
-- Name: job_application job_application_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application
    ADD CONSTRAINT job_application_pkey PRIMARY KEY (caregiver_user_id, job_id);


--
-- Name: job job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job
    ADD CONSTRAINT job_pkey PRIMARY KEY (job_id);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (member_user_id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: address fk_address_member; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.address
    ADD CONSTRAINT fk_address_member FOREIGN KEY (member_user_id) REFERENCES public.member(member_user_id) ON DELETE CASCADE;


--
-- Name: appointment fk_appt_caregiver; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fk_appt_caregiver FOREIGN KEY (caregiver_user_id) REFERENCES public.caregiver(caregiver_user_id) ON DELETE CASCADE;


--
-- Name: appointment fk_appt_member; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fk_appt_member FOREIGN KEY (member_user_id) REFERENCES public.member(member_user_id) ON DELETE CASCADE;


--
-- Name: caregiver fk_caregiver_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caregiver
    ADD CONSTRAINT fk_caregiver_user FOREIGN KEY (caregiver_user_id) REFERENCES public."user"(user_id) ON DELETE CASCADE;


--
-- Name: job fk_job_member; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job
    ADD CONSTRAINT fk_job_member FOREIGN KEY (member_user_id) REFERENCES public.member(member_user_id) ON DELETE CASCADE;


--
-- Name: job_application fk_jobapp_caregiver; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application
    ADD CONSTRAINT fk_jobapp_caregiver FOREIGN KEY (caregiver_user_id) REFERENCES public.caregiver(caregiver_user_id) ON DELETE CASCADE;


--
-- Name: job_application fk_jobapp_job; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_application
    ADD CONSTRAINT fk_jobapp_job FOREIGN KEY (job_id) REFERENCES public.job(job_id) ON DELETE CASCADE;


--
-- Name: member fk_member_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT fk_member_user FOREIGN KEY (member_user_id) REFERENCES public."user"(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

